    
      .messenger {
        height: calc(100vh - 70px);
        display: flex;
        
      }
      
      .chatMenu {
        flex: 2.8;
        height: 99vh;
        background-color: green;
      }
      
      .chatMenuInput {
        width: 90%;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid gray;
      }
      
      .chatBox {
        flex: 7.2;
        height: 100vh;

        /* without chat menu */
        margin-left: 15%; 
        margin-right: 15%;
        margin-top: 11vh;
        position: fixed;
        width: 75vw;
      }
      
      .chatBoxWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      
      .chatBoxTop {
        height: 76%;
        overflow-y: scroll;
        padding-right: 10px;
        background-color:rgb(9, 40, 68);
        padding-top: 12px;
        display: flex;
       flex-direction: column;
       
      }
      
      .chatBoxBottom {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        width:100vw;
      }
      
      .chatMessageInput {
        width: 75vw;
        height: 10vh;
        padding: 10px;
        margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: medium;
      }
      
      .chatSubmitButton {
        width: 10vw;
        height: 8vh;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: teal;
        color: white;
        
      }
      
      .chatOnline {
        flex: 3;
      }
      
      .chatMenuWrapper,
      .chatBoxWrapper,
      .chatOnlineWrapper {
        padding: 10px;
        height: 100%;
      }
      
      .noConversationText {
        position: absolute;
        top: 10%;
        font-size: 50px;
        color: rgb(224, 220, 220);
        cursor: default;
      }
      #liveMessage{
        
        
        /* align-self: flex-end; */
        display: flex;
        flex-direction: column;
        
      }
      
       
      @media screen and (max-width: 768px) {
        .chatMenu {
          flex: 1;
        }
      
        .chatMenuInput {
          display: none;
        }
      
        .chatBox{
          flex: 10;
        }
      }
     